body {
    font-family: Arial, sans-serif;
    background-color:#483d8b; /* Dark blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.signup-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.signup-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.signup-box input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.signup-box button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #34c759; /* Green button */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup-box button[type="submit"]:hover {
    background-color: #2ecc71;
    border:2px solid, #333;
}

.terms {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

.terms a {
    text-decoration: none;
    color: #337ab7;
}
